<header class="col-12 p-5 p-sm-3">
  <h1 class="text-center text-danger">CRUD Formula 1</h1>
</header>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-5 p-sm-3">
        <h5 class="text-center">Esta es una app CRUD para el tratamiento de datos de una database con temática de Formula 1 desarrollada en Mongo DB</h5>
      </div>
      <div class="col-12 p-5 p-sm-3">
        aquí va la db
      </div>
    </div>
  </div>
</body>

<footer class="col-12 p-5 p-sm-3">
  <div class="conainer-fluid col-12 p-5 p-sm-3">
    <div class="row">
      <div class="col-12">
        <h6 class="text-center text-secondary">Soy: {{nombre}}</h6>
        <h6 class="text-center text-secondary">Email: {{email}}</h6>
      </div>
    </div>
  </div>
</footer>