<div class="container-sm p-5">
    <div class="row h-100">
        <div class="container-fluid col-xs-12 col-md-6">
            <div class="border border-danger border-2 rounded-3 border-start-0 border-bottom-0">
                <p class="text-danger ps-2">REPORT</p>
                <h1 class="display-6 ps-2">Russell fastest on final morning of Barcelona running amid flurry of red flags</h1>
                <img src="https://www.formula1.com/content/dam/fom-website/sutton/2022/BarcelonaTesting/Friday/1372736718.jpg.transform/6col/image.jpg" class="img-fluid p-2 mb-4">
            </div>
        </div>
        <div class="container-fluid col-xs-12 col-md-6 h-100">
            <div class="row p-2">
                <div class="col-6">
                    <img src="https://www.formula1.com/content/dam/fom-website/sutton/2022/BarcelonaTesting/Friday/1372773901.jpg.transform/6col/image.jpg" class="img-fluid">
                    <div class="container-fluid border border-start-0 border-top-0 border-2 rounded-3 rounded-right rounded-bottom border-danger">
                        <p class="text-danger pt-1">LIVE BLOG</p>
                        <h6 class="word-wrap">LIVE COVERAGE: Day 3 of pre-season track running in Barcelona</h6>
                    </div>
                </div>
                <div class="col-6">
                    <img src="https://www.formula1.com/content/dam/fom-website/sutton/2022/BarcelonaTesting/Friday/1372721434.jpg.transform/6col/image.jpg" class="img-fluid">
                    <div class="container-fluid border border-start-0 border-top-0 border-2 rounded-3 rounded-right rounded-bottom border-danger">
                        <p class="text-danger pt-1">NEWS</p>
                        <h6 class="word-wrap">Alpine call early end to Barcelona running after hydraulic issue</h6>
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-6">
                    <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2022manual/WinterTestingBarcelona/Day3/2022%20Pre-Season%20Testing%20-%20Spain%2c%20Day%202.jpg.transform/6col/image.jpg" class="img-fluid">
                    <div class="container-fluid border border-start-0 border-top-0 border-2 rounded-3 rounded-right rounded-bottom border-danger">
                        <p class="text-danger pt-1">FEATURE</p>
                        <p class="fs-6 text-break">Red flags, porpoising and Zhou’s first outing – What we learned from Day 2 of pre-season running in Barcelona</p>
                    </div>
                </div>
                <div class="col-6">
                    <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/Following.jpg.transform/6col/image.jpg" class="img-fluid">
                    <div class="container-fluid border border-start-0 border-top-0 border-2 rounded-3 rounded-right rounded-bottom border-danger">
                        <p class="text-danger pt-1">NEWS</p>
                        <p class="fs-6 text-break">‘The difference is pretty obvious’ – Drivers ‘positive’ about ability to follow cars under 2022 regulations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

