<div class="container-lg p-5">
    <div class="row">
        <div class="container-fluid col-xs-12 col-md-6">
                <div class="border border-dark border-5 rounded-3 border-start-0 border-bottom-0">
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                </div>
        </div>
        <div class="container-fluid col-xs-12 col-md-6">
            <div class="border border-dark border-5 rounded-3 border-start-0 border-bottom-0">
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
            </div>
        </div>
    </div>

